<!DOCTYPE html>
<html>
  <head>
    <title>Inteligencia Juridica</title>
  </head>
  <body>
    <h1>
      Inteligencia Juridica
    </h1>  
    <h2>
      Demantronic
    </h2>
    <p>
      Asistente de construcción de demandas
    </p>
    <h3>
      Selecciona una acción:
    </h3>
    <select name="accion" method="GET" action="/">
      <option value="{{acciones_unicas[0]}}" selected>{{acciones_unicas[0]}}</option>
      {% for accion in acciones_unicas[1:] %}
      <option value="{{accion}}">{{accion}}</option>
      {% endfor %}
    </select>
    <h3>
      Selecciona un cantón:
    </h3>
    <select name="canton" method="GET" action="/">
      <option value="{{cantones[0]}}" selected>{{cantones[0]}}</option>
      {% for canton in cantones[1:] %}
      <option value="{{canton}}">{{canton}}</option>
      {% endfor %}
    </select>
    <h1>Hechos:</h1>
    <ul>
      {% for option in options %}
        <li>{{ option }}</li>
      {% endfor %}
    </ul>
  </body>
</html>

